<a href="https://colab.research.google.com/github/YarkoMarko/pandas_dz/blob/main/module2/%D0%94%D0%97_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Імпортуйте модуль pandas

In [148]:
import pandas as pd
import numpy as np

# Інформація про дані
Зібрано дані продажу техніки в різних магазинах.
* OrderDate -- дата замовлення
* Region    -- регіон де розміщено магазин
* Manager   -- ім'я менеджера
* SalesMan  -- ім'я продавця
* Item      -- тип товару
* Units     -- кількість купленого товару
* Unit_price -- ціна за штуку
* Sale_amt   -- загальна вартість покупки

In [141]:
df = pd.read_csv("https://raw.githubusercontent.com/HalyshAnton/IT-Step-Pyton-AI/main/module2/data/sales_data.csv", index_col="Unnamed: 0")
df.head()

,OrderDate,Region,Manager,SalesMan,Item,Units,Unit_price,Sale_amt
0,2018-01-06,East,Martha,Alexander,Television,95.0,1198.0,113810.0
1,2018-01-23,Central,Hermann,Shelli,Home Theater,50.0,500.0,25000.0
2,2018-02-09,Central,Hermann,Luis,Television,36.0,1198.0,43128.0
3,2018-02-26,Central,Timothy,David,Cell Phone,27.0,225.0,6075.0
4,2018-03-15,West,Timothy,Stephen,Television,56.0,1198.0,67088.0

# Завдання 1

Вивести загальну інформацію про таблицю: кількість рядків та стовпців, назви стовпців та їхній тип даних, в яких стовпцях є пропущені значення

In [157]:
print(f"Rows: {df.shape[0]}\nCols: {df.shape[1]}")
for column in df.columns:
  print(column, df[column].dtype)

df.isna().any(axis=0)

Rows: 45
Cols: 8
orderdate object
region object
manager object
salesman object
item object
units float64
unit_price float64
sale_amt float64

orderdate      True
region         True
manager        True
salesman       True
item           True
units         False
unit_price    False
sale_amt      False
dtype: bool

# Завдання 2

Перейменуйте стовпчики так, щоб назви містили літери нижнього регістру

In [143]:
df.columns = df.columns.str.lower()
df.columns

Index(['orderdate', 'region', 'manager', 'salesman', 'item', 'units',
       'unit_price', 'sale_amt'],
      dtype='object')

# Завдання 3
Виведіть дані про купівлі телевізорів та телефонів

In [144]:
df[(df["item"] == "Television") | (df["item"] == "Cell Phone")]["sale_amt"]

0     113810.0
2      43128.0
3       6075.0
4      67088.0
6      89850.0
7     107820.0
8      38336.0
10    107820.0
13     41930.0
17     14400.0
18      3375.0
20     80266.0
27     79068.0
28     21600.0
29     63494.0
36      8386.0
37     17100.0
39     16772.0
Name: sale_amt, dtype: float64

# Завдання 4
Яка загальна виручка у продавця Luis?

In [145]:
df[df["salesman"] == "Luis"]["sale_amt"].sum()

206373.0

# Завдання 5

Скільки і якого товару було продано?

див groupby(),

In [146]:
df.groupby("item")["units"].sum()

item
Cell Phone      278.0
Desk             10.0
Home Theater    722.0
Television      716.0
Video Games     395.0
Name: units, dtype: float64

# Завдання 6
Перевірте чи правильно розраховано загальну вартість покупки. Виведіть ті рядки де є помилка. Виправте дані в таблиці

In [147]:
print(df[(df["units"] * df["unit_price"] != df["sale_amt"])])
df["sale_amt"] = df["units"] * df["unit_price"]
print(df[(df["units"] * df["unit_price"] != df["sale_amt"])])

   orderdate region manager salesman item   units  unit_price  sale_amt
43       NaN    NaN     NaN      NaN  NaN  278.00    1125.000  62550.00
44       NaN    NaN     NaN      NaN  NaN   34.75     140.625   7818.75
Empty DataFrame
Columns: [orderdate, region, manager, salesman, item, units, unit_price, sale_amt]
Index: []